:root {
  --midBlue: #056FB7;
  --lightBlue: #3d72d7;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x:hidden;
  margin: 0px;
  line-height: 1.5em;
  font-size: 1em;
  color: #333;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

/* Allow content to expand */
.content-wrapper {
    flex: 1 0 auto; 
}


a[href]:hover{
  opacity: .6;
}

.c {
  padding: 0.7em;
  max-width: 80ch;
  margin: auto;
}

/* Extend the width of the container */
.wide-content {
	max-width: 60em;
	margin: auto;
	margin-bottom: .5em;
}

/* Content */

.content {
  padding-top:1em;
}

h1,h2,h3,h4{
  margin-bottom: .65em;
  font-weight: 500;
  line-height: 1em;
}

.full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

/* Style for the logo images */
.logo-image {
    height: 3em;
    width: auto;
    max-width: 3em; 
    vertical-align: middle;
}

/* Style for the logo text */
.logo-text {
    margin: 0 .5em; /* Add some spacing between the images and text */
}

.logo-text a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
}

/* Style for the main logo text */
.main-text {
    display: block;
    font-size: 1.4em; /* Adjust this value to make the text height approximately equal to the image height */
    margin-bottom: -.4em;
}

/* Style for the logo sub-text */
.sub-text {
    display: block;
    font-size: .9em; /* Adjust this value to make the text height approximately equal to the image height */
    align-self: center;
    text-transform: uppercase;
    color: #555;
}

.top-nav {
  position: relative;
  line-height: 30px;
  border-bottom: 1px solid #056FB7; 
  margin: 0px;
  background-image: linear-gradient(#fff, #f4f5f5);
  margin-bottom:1em;
  box-shadow: 0px .5px 1px rgba(5, 111, 183, 0.2);
}

.dark-hero {
  background:  linear-gradient(rgba(5, 111, 183, .8), rgba(0, 48, 135, .8)), url(/img/homepage-hero-bg.jpeg);
  height: 240px;
  color: whitesmoke;
  margin-top: -2em;
  box-shadow:
          inset 0px 11px 8px -10px #262626,
          inset 0px -11px 8px -10px #262626;
  border-bottom: 1px solid whitesmoke;
}

.dark-hero .description {
    display: block;
    position: relative;
    font-style: italic; 
    font-size: 20px;
    margin-top: .2em;
}

  .dark-hero .logo {
      font-size: 2em;
  }

.banner-wrapper {
    white-space: normal;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    height: 100%; /* Take full height of the parent .dark-hero */
}

p {
  margin: 0.5em 0;
}

a {
color: var(--midBlue)
}

.navigation-items a {
	text-decoration: none;
}

.center {
  text-align: center;
}

/* Hide the hamburger menu on big screens*/
#menuToggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

h2:not(:first-child) {
  margin-top: 42px;
}
h3 {
  margin-top: 32px;
}
h4 {
  margin-top: 16px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-inner {
    display:flex;
    justify-content: flex-start; /* Distributes items to the start of flex direction*/
    align-items: center; /* Centers items along the cross axis */
    flex-wrap: nowrap; /* Ensures items stay in a single line */
    margin-top: .5em;
    margin-left: .5em;
}

.search-box {
    transition: all .2s ease-in-out;
    width: 2.5rem;
    padding: 4px 6px;
    border: 2px solid #eee;
    border-radius: 10px;
    margin-right:1.2em; 
    outline: 0;
}

.search-box::placeholder {
    text-align: right;
}

.search-box:hover, .search-box:not(:placeholder-shown) {
    border: 2px solid var(--midBlue);
}

.search-box:active, .search-box:focus, .search-box:not(:placeholder-shown) {
    width: 10rem;
}

/*cards for posts/page subsections*/
.card {
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Horizontal shadow, Vertical shadow, Blur, Spread, Color */
                0 2px 4px rgba(0, 0, 0, 0.08); 
    max-width: 80ch; 
    margin: auto;
    margin-bottom: 20px; /* Space between cards */
    overflow: hidden; /* Hide the overflow content */
    transition: max-height 0.3s ease; /* Smooth transition for the height */
}

.card-header {
    display: flex; /* Enable Flexbox */
    justify-content: space-between; /* Distribute space between the children */
    align-items: center; /* Center items vertically */
    padding: 10px 20px 0px 20px; /* padding-top, padding-right, padding-bottom, padding-left */
}

.card-content {
    padding: 0px 20px 10px 20px; /* padding-top, padding-right, padding-bottom, padding-left */
}

.card-header h2 {
    flex: 1; 
    margin-bottom: 0em;
}

.card:hover {
    transform: scale(1.01); /* Slightly increase size */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.11), /* Increase shadow for popping effect */
                0 6px 12px rgba(0, 0, 0, 0.10); 
}

.chevron-icon {
    color: white; /* Set the icon color to white */
    background-color: var(--midBlue); /* Set the background to the --midBlue color */
    font-size: 2em; /* Icon size */
    width: 1em;
    height: 1em;
    padding: 0.25em; /* Padding around the icon to create the circle - adjust as needed */
    border-radius: 50%; /* This will make it a circle */
    display: inline-flex; /* Use inline-flex to center the content inside the padding */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    transition: transform 0.3s ease;
    transform: rotate(-90deg); /* Rotate the icon to point upwards */
    /* You may not need align-self: top; depending on your layout, as it might offset the icon */
}

.footer-container {
   display: flex;
   flex-direction: column;
   margin-top: 2em;
}

.footer-crown {
    width: 100%;
    overflow: hidden;
}

.footer-crown svg {
    display: block;
   /* vertical-align: bottom; */
    width: 100%;
    overflow: hidden;
}

footer {
    flex-shrink: 0; 
    background-color: #056FB7;
    }

.footer-crown, .footer-crown svg, footer {
    margin: 0;  /* Remove margins */
    padding: 0; /* Remove padding */
}

.foot-link1 {
	display: flex;
	justify-content: space-between;
        border-bottom: 1px solid whitesmoke; 
        padding-bottom: 1em; 
}

footer .item{
	padding: 0.5em;
}

footer .item a {
    color: whitesmoke; 
    text-decoration: underline;
}

footer .item a:hover {
    color: lightgray; /* or any other hover color you prefer */
}

.foot-bot {
    display: flex;
    justify-content: space-between;
    max-width: 60em;
    margin: auto;
    padding: 1em;
    margin-bottom: 3em;
    align-items: center; /* Horizontally center the items */
}

.foot-bot .logo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center the items */
}

.foot-bot .logo-image{
    height: 4em;
    width: 4em;
    max-width: 4em;
}

.foot-bot .slogan {
	color: whitesmoke;
    font-size: 0.9em;
    white-space: nowrap; 
    text-align: center;
    font-style: italic;
	margin-top: .5em;
}

.foot-bot .linkbox {
	display: flex;
    white-space: nowrap;
}

@media(max-width:59.99em) {

  .menu{
      display:flex;
      align-items:center;
      justify-content: space-between;
      margin: auto;
  }

  .no-mobile {
      display: none !important;
  }

.hamburger {
    display: flex;
    margin-right: .5em;
}
/* Initially hide the nav items*/
.navigation {
    position: absolute;
    top: 100%;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
}
.navigation-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .navigation-items > *:not(:last-child){
      font-size: 1.3em; 
      margin-right: calc(.5em + .7vw);
  }

/* Show the nav items when the checkbox is checked */
#menuToggle:checked + .hamburger + .navigation {
    display: block;
}

  .foot-bot{
      flex-direction: column;
      justify-content: center;
  }

  .foot-link1, .linkbox{
      font-size: .9em;
     }  

  .linkbox{
      white-space: normal;
      display: flex; 
      flex-wrap: wrap;
      justify-content: center;
     }

  footer .item{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.35em;
  }
}

@media(min-width:60em) {

  /* Menu */
  .menu,
  .navigation > div{
      display:flex;
      align-items:center;
  }
  .menu{
      justify-content: space-between;
      width: 60em;
      margin: auto;
  }

  .navigation-items > *:not(:last-child){
      font-size: 1.3em; 
      margin-right: calc(.5em + .7vw);
  }

.foot-bot .linkbox {
	justify-content: space-between;
}
}

