.hero-bg{
  background-image: linear-gradient(rgba(5, 111, 183, .8), rgba(0, 48, 135, .8)), url("../assets/homepage-hero-bg.jpeg");
}
.bg-dark {
    background-color: #056FB7!important;
}
.text-dark {
    color: #056FB7!important;
}

.brand-heading{
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.brand-heading h1{
  font-weight: bold;
}
.brand-heading h2{
  text-transform: uppercase;
  color: #999;
  font-size: 1rem;
}

.shape {
    pointer-events: none;
    position: absolute;
}
.shape-bottom {
    bottom: 0;
    left: 0;
    right: 0;
}
.shape:not([class*=shape-blur]) {
    overflow: hidden;
}

/* New styles for the logos */
.brand-logo {
  display: flex;
  justify-content: center;
}

/* New styles for the logos */
.brand-logo:first-child {
  margin-right: -10%;
}

.brand-logo:last-child {
  margin-left: -10%;
}

.navbar-brand-img {
    width: 50%;  /* 60% of the parent container width */
    height: auto; /* height will be adjusted automatically to maintain the image aspect ratio */
    object-fit: contain !important;
}

/* CSS for smaller screens */
@media (max-width: 768px) {

  .brand-row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .brand-logo:first-child {
    margin-right: 0;
  }

  .brand-logo:last-child {
    margin-left: 0;
  }

  .navbar-brand-img {
    width: auto;
    height: auto;
    object-fit: contain !important;
  }
}

@media (max-height: 480px) {
  .brand-row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .brand-logo:first-child {
    margin-right: -10%;
  }

  .brand-logo:last-child {
    margin-left: -10%;
  }

  .navbar-brand-img {
    width: 60%;
    height: auto;
    object-fit: contain !important;
  }
}

.custom-toggler {
    height: 60%; /* Adjust to your preference */
}
