.hero-bg{
  background-image: linear-gradient(rgba(5, 111, 183, .8), rgba(0, 48, 135, .8)), url("../assets/homepage-hero-bg.jpeg");
}
.bg-dark {
    background-color: #056FB7!important;
}
.text-dark {
    color: #056FB7!important;
}

/*hero banner button color*/
.btn-custom {
    background-color: white; /* or any other color you like */
    color: #056FB7;
    border-color: #056FB7;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom:visited {
    background-color: white;/* a lighter shade of yellow for hover effect */
    color: #056FB7;
}
/*size of navbar menu items*/
.nav-item .nav-link {
  font-size: 1.2rem;  /* Adjust as needed */
  }

/*hero banner button color*/
  .brand-row {
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
  }

.brand-heading{
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.brand-heading h1{
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0rem;
}
.brand-heading h2{
  text-transform: uppercase;
  color: #999;
  font-size: 1rem;
  margin-top:0rem;
}

.shape {
    pointer-events: none;
    position: absolute;
}
.shape-bottom {
    bottom: 0;
    left: 0;
    right: 0;
}
.shape:not([class*=shape-blur]) {
    overflow: hidden;
}

/* New styles for the logos */
.brand-logo {
  display: flex;
  justify-content: center;
}

/* New styles for the logos */
.brand-logo:first-child {
  margin-right: -10%;
}

.brand-logo:last-child {
  margin-left: -10%;
}

.navbar-brand-img {
    width: 35%;  /* 60% of the parent container width */
    height: auto; /* height will be adjusted automatically to maintain the image aspect ratio */
    object-fit: contain !important;
}

/* CSS for smaller screens */
@media (max-width: 768px) {

.brand-heading h1{
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0rem;
}

  .brand-row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .brand-logo:first-child {
    margin-right: 0;
  }

  .brand-logo:last-child {
    margin-left: 0;
  }

  .navbar-brand-img {
    width: 55%;
    height: auto;
    object-fit: contain !important;
  }
 
}

@media (max-height: 480px) {

.brand-heading h1{
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0rem;
}
.brand-heading h2{
  text-transform: uppercase;
  color: #999;
  font-size: .8rem;
  margin-top:0rem;
}


  .brand-row {
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
  }

  .brand-logo:first-child {
    margin-right: -8%;
  }

  .brand-logo:last-child {
    margin-left: -8%;
  }

  .navbar-brand-img {
    width: 35%;
    height: auto;
    object-fit: contain !important;
  }
}

.custom-toggler {
    height: 75%; /* Adjust to your preference */
}
